
@for (int i = 0; i < 15; i++)
{
    <tr>
        <td><span>@(i + 1)</span></td>
        <td><span>2018-12-12 11:50:30</span></td>
        <td><span>编辑</span></td>
        <td><span>张三</span></td>
        <td><span class="conlog_active">详情</span></td>
    </tr>
    <tr class="conlog_hide">
        <td><span>备注：</span></td>
        <td colspan="4"><span>备注备注备注备注备注备注备注备注备注备注备注备注@(i + 1)</span></td>
    </tr>
}