@{
    ViewBag.MUrl = "/Modules/DepMgtList";
}
<script>
    $('.btn_add').click(function () {
        dmInfoAjax("");
        $('#box').hide();
    })

    function DmEdit(e) {
        dmInfoAjax($(e).prev().val());
        $('#box').hide();
    }

    function dmInfoAjax(key) {
        $.ajax({
            url: '/Modules/DepMgtInfo',
            type: 'post',
            data: { dmkey: key },
            success: function (data) {
                $('#info').html(data);
                $('#info').show();
            }
        })
    }

    function DmDelete(e) {

        if (confirm('确认删除？')) {
            let key = $(e).prev().prev().val();
            $.ajax({
                url: '/Modules/DepMgtDel',
                type: 'post',
                data: { dmkey: key },
                success: function (data) {
                    $.ajax({
                        url: '/Modules/DepMgtList',
                        type: 'post',
                        data: {
                            index: nowPage - 1
                        },
                        success: function (data) {
                            $('#deplist').html(data);
                        }
                    });
                }
            })
        }
    }


</script>

<div class="module_style scrollbar">
    <div id="div_DepMgtModule" class="t_center scrollbar">
        <div id="info" style="display:none;"></div>
        <div id="box">
            <table id="table_DepMgtModule" class="table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <td colspan="6"><span class="btn_add">添加</span></td>
                    </tr>
                    <tr>
                        <th style="width:80px;"><span>部门编号</span></th>
                        <th><span>部门名称</span></th>
                        <th><span>状　　态</span></th>
                        <th><span>动　　作</span></th>
                    </tr>
                </thead>
                <tbody id="deplist">
                    @Html.Action("DepMgtList")
                </tbody>
            </table>
            <div>
                @Html.Partial("~/Views/Shared/Paging.cshtml")
            </div>
        </div>
    </div>
</div>

