@{
    ViewBag.MUrl = "/Modules/DepMgtList";
}

<div class="module_style scrollbar">
    <div id="div_DepMgtModule" class="t_center scrollbar">
        <div id="info" style="display:none;"></div>
        <div id="box">
            <table id="table_DepMgtModule" class="table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th style="width:80px;"><span>部门编号</span></th>
                        <th><span>部门名称</span></th>
                        <th><span>状　　态</span></th>
                        <th><span>动　　作</span></th>
                    </tr>
                </thead>
                <tbody id="deplist">
                    @Html.Action("DepMgtList")
                </tbody>
            </table>
            <div>
                @Html.Partial("~/Views/Shared/Paging.cshtml")
            </div>
        </div>
    </div>
</div>

