
<script>
    function posmAdd() {
        $('#posm_table').hide();
        $('#posm_div').append('<span>Test</span>')
    }
</script>
<div class="module_style scrollbar">
    <div class="t_top">
        <div class="search_div"><input type="text" /><span>搜索职位</span></div>
        <span class="btn_add" onclick="posmAdd()">新增职位</span>
    </div>
    <div id="posm_div" class="t_center scrollbar">
        <table id="posm_table" class="table">
            <thead>
                <tr>
                    <th><span>职位编号</span></th>
                    <th><span>职位名称</span></th>
                    <th><span>状　　态</span></th>
                    <th><span>管理操作</span></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 12; i++)
                {
                    <tr>
                        <td><span>0</span></td>
                        <td><span>CEO</span></td>
                        <td><span>有效</span></td>
                        <td><span>管理操作</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>