@for (int i = 0; i < 12; i++)
{
    <tr>
        <th><span>00001</span></th>
        <th><span>张三</span></th>
        <th><span>在职</span></th>
        <th><span>销售部</span></th>
        <th><span>销售员</span></th>
        <td><span>管理操作</span></td>
    </tr>
}