<link href="~/Content/Modules/Home/QuickNavigation.css" rel="stylesheet" />
<script>
    $(function () {
        $('.nav_item').click(function () {
            Reset();
            GetElement($('#' + this.id));
        })
    })
</script>
<div class="Modules QuickNavigation">
    <span class="nav_title">快速导航</span>
    <div class="nav_content scrollbar">
        <div class="nav_item" id="PosMgtModule"><span>● 部门管理</span></div>
        <div class="nav_item" id="MySchModule"><span>● 我的日程</span></div>
        <div class="nav_item" id="MyNoteModule"><span>● 我的便签</span></div>
        <div class="nav_item" id="DepSchModule"><span>● 部门日程</span></div>
    </div>
</div>