<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        .page_div {
            background: url(../../Content/images/bg_home_top.jpg) center top;
            background-repeat: no-repeat;
            /*background-size: cover;*/
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page_div">
        @RenderBody()
    </div>
</body>
</html>
