<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        .content_div {
            background: url(../../Content/images/bg_login.jpg) center top;
            background-size: cover;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="content_div">
        @RenderBody()
    </div>
</body>
</html>
