@{
    ViewBag.Title = "MyOffice";
    ViewBag.UserName = "Alex";
    ViewBag.MsgCount = "99";
    ViewBag.ScheduleCount = "99";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Home/home.css" rel="stylesheet" />
<link href="~/Content/Modules/Modules.css" rel="stylesheet" />
<script src="~/Scripts/Home/Clock.js"></script>
<script>
    $(function () {
        $('#hide_logo').click(function () {
            if (this.className == 'glyphicon glyphicon-chevron-up') {
                this.className = 'glyphicon glyphicon-chevron-down';
                $('.logo_div').hide();
                $('.control_div').hide();
                $('.center_div').css('top', '32px');
            } else {
                this.className = 'glyphicon glyphicon-chevron-up';
                $('.center_div').css('top', '106px');
                $('.logo_div').show();
                $('.control_div').show();
            }
        });

        $('#left_btn').click(function () {
            if (this.className == 'glyphicon glyphicon-chevron-left') {
                this.className = 'glyphicon glyphicon-chevron-right';
                $('.left_div').css('display', 'none');
            } else {
                this.className = 'glyphicon glyphicon-chevron-left';
                $('.left_div').css('display', 'flex');
            }
        });

        $('h3').click(function () {
            let state = $(this).find('span:first').hasClass('menu_active');

            $('h3').css('background-color', '');
            $('h3').find('span:first').removeClass("menu_active");
            $('.menu_div ul').slideUp(200);

            if (!state) {
                $(this).css('background-color', 'rgba(128, 128, 128, 0.40)');
                $(this).find('span:first').addClass("menu_active");
                $(this).next().slideDown(200);
            }
        });

        $('.menu_div li').click(function () {
            $('.menu_div li').css('background-color', '');
            $(this).css('background-color', 'rgba(128, 128, 128, 0.30)');
            $('#module_id').val(this.id);

            $.ajax({
                url: '/Modules/' + this.id,
                type: 'get',
                success: function (data) {
                    $('.t_top').show()
                    $('.content_div').html(data);
                },
                error: function () {
                    $('.content_div').html('Error');
                }
            });
        });

        $('#home_btn').click(function () {
            Reset();
            $.ajax({
                url: '/Modules/HomeModule',
                type: 'get',
                success: function (data) {
                    $('.t_top').hide();
                    $('#module_id').val('');
                    $('.content_div').html(data);
                },
                error: function () {
                    $('.content_div').html('Error');
                }
            });
        });

        $('#btn_msg').click(function () {
            Reset();
            GetElement($('#NoticeModule'));
        });

        $('#btn_sch').click(function () {
            Reset();
            GetElement($('#DepSchModule'));
        });

        //$('.btn_add').click(function () {
        //    let id = $('#module_id').val();
        //    $('#box').hide();
        //    $('#info').html('<span>Test</span>');
        //    $('#info').show();
        //})
    })

    function GetElement(e) {
        e.css('background-color', 'rgba(128, 128, 128, 0.30)');
        e.parent().prev().find('span:first').addClass("menu_active");
        e.parent().slideDown(200);
        $('#module_id').val(e.attr('id'));

        $.ajax({
            url: '/Modules/' + e.attr('id'),
            type: 'get',
            success: function (data) {
                $('.t_top').show();
                $('.content_div').html(data);
            },
            error: function () {
                $('.content_div').html('Error');
            }
        });
    }

    function Reset() {
        $('h3').css('background-color', '');
        $('h3').find('span:first').removeClass("menu_active");
        $('.menu_div ul').slideUp(200);
        $('.menu_div li').css('background-color', '');
    }

    function Logout() {
        if (confirm('确认退出登录？')) {
            document.location.href = '/Authentication/LogoutUser';
        }
    }
</script>

<div class="top_div">
    <div class="logo_div">
        <img src="~/Content/images/logo.png" />
    </div>
    <div class="nav_div">
        <div class="info_div">
            <span>欢迎用户 [ @ViewBag.UserName ] 登录，</span><span id="clock"></span>
            <span id="btn_sch" class="btn_span">日程（@ViewBag.ScheduleCount）</span>
            <span id="btn_msg" class="btn_span">通知（@ViewBag.MsgCount）</span>
        </div>
        <span id="hide_logo" class="glyphicon glyphicon-chevron-up"></span>
    </div>
    <div class="control_div">
        <span onclick="Logout()">退出登录</span>
        <span>系统设置</span>
        <span style="width:120px;">[ 中文 ] 切换</span>
    </div>
</div>
<div class="center_div bgcolor">
    <div class="left_div">
        <div class="menu_div scrollbar">
            <div class="menu_title"><span class="glyphicon glyphicon-list"></span> <span>系统菜单</span></div>
            @*Personnel*@
            <h3><span class="glyphicon glyphicon-play"></span> <span>人事管理</span></h3>
            <ul>
                <li id="DepMgtModule">● 部门管理</li>
                <li id="PosMgtModule">● 职位管理</li>
                <li id="StaffMgtModule">● 员工管理</li>
            </ul>
            @*Schedule*@
            <h3><span class="glyphicon glyphicon-play"></span> <span>日程管理</span></h3>
            <ul>
                <li id="MySchModule">● 我的日程</li>
                <li id="DepSchModule">● 部门日程</li>
                <li id="MyNoteModule">● 我的便签</li>
            </ul>
            @*Notice and message*@
            <h3><span class="glyphicon glyphicon-play"></span> <span>通知消息</span></h3>
            <ul>
                <li id="NoticeModule">● 通　　知</li>
                <li id="MsgMgtModule">● 消息管理</li>
            </ul>
            @*System*@
            <h3><span class="glyphicon glyphicon-play"></span> <span>系统管理</span></h3>
            <ul>
                <li id="RoleMgtModule">● 角色管理</li>
                <li id="OpnLogModule">● 操作日志</li>
                <li id="HomeMgtModule">● 首页管理</li>
            </ul>
            @*Attendance*@
            <h3><span class="glyphicon glyphicon-play"></span> <span>考勤管理</span></h3>
            <ul>
                <li id="AttnCheckModule">● 考勤查询</li>
                <li id="AttnStatModule">● 考勤统计</li>
            </ul>
        </div>
    </div>
    <div class="right_div">
        <div class="tab_content_div">
            <div class="tab_div">
                <input id="module_id" type="hidden" />
                <i id="left_btn" class="glyphicon glyphicon-chevron-left"></i>
                <span id="home_btn">首页</span>
                <div class="t_top" style="display:none;">
                    <div class="search_div"><input type="text" /><span>查找</span></div>
                </div>
            </div>
            <div class="content_div">
                @Html.Action("HomeModule", "Modules")
            </div>
        </div>
    </div>
</div>

<script>
    var clock = new Clock();
    clock.display(document.getElementById("clock"));
</script>