
@for (int i = 0; i < 12; i++)
{
    <tr>
        <td><span>2018-12-11</span></td>
        <td><span>测试测试测试</span></td>
        <td><span>未完成</span></td>
        <td><span>管理操作</span></td>
    </tr>
}