
@for (int i = 0; i < 12; i++)
{
    <tr>
        <td><span>2018-12-10</span></td>
        <td><span>标题标题标题</span></td>
        <td><span class="mynote_active">详情</span> <span>编辑</span> <span>删除</span></td>
    </tr>
    <tr class="mynote_hide">
        <td colspan="3" style="padding-left:30px;"><span>内容内容内容</span></td>
    </tr>
}
