@{
    ViewBag.MUrl = "/Modules/MySchList";
}

<div class="module_style scrollbar">
    <div id="div_MySchModule" class="t_center scrollbar">
        <div id="info" style="display:none;"></div>
        <div id="box">
            <table id="table_MySchModule" class="table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th><span>日　　期</span></th>
                        <th><span>标　　题</span></th>
                        <th><span>状　　态</span></th>
                        <th><span>管理操作</span></th>
                    </tr>
                </thead>
                <tbody id="deplist">
                    @Html.Action("MySchList")
                </tbody>
            </table>
            <div>
                @Html.Partial("~/Views/Shared/Paging.cshtml")
            </div>
        </div>
    </div>
</div>